<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1036236355000-2eo5l7h6o8l0c8rkgh83fi50mun04ej1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036236355000-2eo5l7h6o8l0c8rkgh83fi50mun04ej1</string>
	<key>API_KEY</key>
	<string>AIzaSyDr9DcPV9iHacTjPQ0G7Y12w_z8AN2WasQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1036236355000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arcadiasoftworks.FriendlyEats</string>
	<key>PROJECT_ID</key>
	<string>firestore-ios-codelab-6f2c2</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-ios-codelab-6f2c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036236355000:ios:07cfcd4db390ac46</string>
	<key>DATABASE_URL</key>
	<string>https://firestore-ios-codelab-6f2c2.firebaseio.com</string>
</dict>
</plist>